<header class="site-header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/wbd/">WBD</a></li>
        </ul>
    </nav>
</header>