<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
	<div class="wrapper">
		<div class="site-head__inner">
			<a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
				{% include "partials/brand.svg" %}
			</a>
			<nav class="[ nav ] [ site-head__nav ] [ font-sans ]" aria-label="Primary">

<!--                 We’ve added that reference to the getLinkActiveState 
                function that we wrote in the previous example, via 
                the helpers JavaScript data file. Now, our navigation 
                will be completely dynamic, based on each page that 
                we go to. -->

				<ul class="nav__list">
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                            >{{ item.text }}</a
                        >
                    </li>
                    {% endfor %}
                </ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/work">Work</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>